.git
.github/
.pixi/
.idea/
.vscode/
data/
grafana_data/
prometheus_data/
loki_data/
configs/
dashboards/
rules/
scripts/
*.log
.env
.env.example
__pycache__/
*.pyc
*.pyo
*.md
pixi.toml
pixi.lock
justfile
.gitignore
.editorconfig
.pre-commit-config.yaml
